* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #07161d;
  h1 {
    letter-spacing: 1.5px;
  }
  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    .logo {
      width: 120px;
      border-radius: 50px;
    }
  }
  .menu {
    color: white;
    margin-right: 30px;
    font-size: 25px;
  }
  nav {
    display: none;
  }
}

.slide-menu {
  overflow: none;
  position: absolute;
  height: 100%;
  width: 95%;
  background-color: white;
  z-index: 999;
  top: 0;
  left: -100%;
  transition: ease-in-out 0.3s;
  .x {
    padding: 30px;
    font-size: 25px;
  }
  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ul {
      a {
        color: black;
        text-decoration: none;
        margin: 30px;
        font-size: 20px;
        li {
          list-style: none;
        }
      }
    }
  }
}

.show-case {
  height: 90vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to bottom, #07161d, transparent), url('/assests/backgound.jpg');

  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -75%);

    p {
      font-size: 25px;
      line-height: 25px;
      color: white;
      text-transform: uppercase;
      text-shadow: black 0 0 1px;
      font-family: 'Spicy Rice', serif;
      font-weight: 100;
    }
    span {
      color: yellow;
      text-transform: lowercase;
      font-family: 'Spicy Rice', serif;
    }
    .lm {
      font-family: 'Oooh Baby', cursive;
      font-size: 30px;
      font-weight: 400;
    }
    .largerText {
      font-size: 50px;
      color: white;
      width: 100%;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
    }
    .Qmark {
      font-size: 110px;
      font-weight: 800;
    }
    button {
      padding: 10px 20px;
      margin-top: 20px;
      background-color: yellow;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}

.about-section {
  width: 85%;
  margin: 50px auto;
  font-size: 18px;
  margin-top: 50px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    line-height: 30px;
    color: #07161d;
    text-align: justify;
    margin-bottom: 20px;
  }
}

.payments {
  width: 85%;
  font-size: 18px;
  margin: 0 auto;

  h2 {
    margin-bottom: 10px;
  }
  p {
    line-height: 30px;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    background-color: #135fab;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.contact {
  width: 85%;
  margin: 0 auto 50px auto;
  font-size: 18px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
  }

  .form {
    text-align: center;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      margin-bottom: 12px;
      border-radius: 5px;
      border: solid 2px black;
    }
    textarea {
      height: 200px;
    }

    button {
      padding: 10px 20px;
      background-color: #135fab;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      color: white;
      margin-bottom: 50px;
    }
  }
  .contactInfo {
    text-align: center;
    line-height: 20px;
    margin-bottom: 50px;
    p {
      margin-bottom: 10px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}

.s-image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px -10px black;
}

footer {
  padding: 40px;
  background-color: #135fab;
  p {
    color: white;
    text-align: center;
    a {
      color: white;
    }
  }
  .icons {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    a {
      color: white;
      padding: 40px 10px;
    }
  }
}

//preview
.prev {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  p {
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
  }
  button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #135fab;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    a {
      color: white;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
    }
  }
}

.cc-body {
  height: 100vh;
}
.iframe-div {
  height: 100vh;
  iframe {
    width: 100%;
    height: 100vh;
  }
}

//catalog page
.catalog {
  text-align: center;
  padding: 50px 0;
  img {
    width: 80%;
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .country {
    margin-bottom: 50px;
  }
}

//submit-payment page
.con-message {
  text-align: center;
  margin: 50px;
  p {
    line-height: 40px;
    font-size: 20px;
  }
}

//payment page
.p-methods {
  text-align: center;
  height: 90vh;
  position: relative;
  h2 {
    margin: 50px 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    a {
      text-decoration: none;
      p {
        margin-bottom: 10px;
        color: black;
      }
      .svg-logo {
        width: 100px;
        height: 100px;
        fill: black;
      }
    }
  }
}

.popup-card {
  display: none;
  background-color: red;
  width: 90%;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  background-color: lightgrey;
  height: 150px;
  p {
    line-height: 30px;
  }
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
  }
  .close-popup {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

//media queries
@media (min-width: 750px) {
  .show-case {
    .content {
      left: 10%;
      top: 40%;
      transform: translate(50px, -70%);
    }
  }

  .about-section {
    p {
      width: 500px;
    }
    .s-image {
      width: 500px;
    }
  }

  .contact {
    p {
      width: 500px;
    }
    .form {
      width: 500px;
      text-align: left;
    }
    .contactInfo {
      p {
        text-align: left;
      }
    }
    .s-image {
      width: 500px;
    }
  }
}

@media (min-width: 850px) {
  .header {
    .menu {
      display: none;
    }
    nav {
      display: block;
      ul {
        display: flex;
        a {
          li {
            list-style: none;
            margin-right: 30px;
          }
        }
      }
    }
  }
}
