* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
  max-width: 700px;
  margin: auto;
}

.btn {
  padding: 12px 32px;
  font-size: 20px;
  background-color: #1e90ff;
  border: none;
  display: block;
  margin: auto;
}
.btn a {
  color: white;
  text-decoration: none;
}

.home-btn {
  width: 50px;
  font-size: 30px;
  margin-top: 30px;
  color: black;
}
.home-btn .home-icon {
  margin: 30px;
}

.show-case {
  width: 100%;
  height: 65%;
}
.show-case .show-case-video {
  width: 100%;
}

.ty-page {
  height: 90vh;
}

.globe-animation {
  margin: auto;
}
.globe-animation .animation {
  margin: auto;
}

.header {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: white;
}
.header .content {
  text-align: center;
  padding: 100px;
}
.header .content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.header .content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.about {
  text-align: center;
  line-height: 35px;
}
.about p {
  width: 90vw;
  margin: auto;
  font-size: 20px;
}

.passport-animation .animation {
  margin: auto;
}

.payment {
  text-align: center;
}
.payment h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.payment p {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
}

.contact {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 100px;
}
.contact h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact p {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
}
.contact p a {
  color: black;
}
.contact .form {
  text-align: center;
}
.contact .form input,
.contact .form textarea {
  width: 80%;
  padding: 10px;
  font-size: 15px;
  border-radius: 2px;
  border: solid 2px black;
  margin-bottom: 20px;
}
.contact .form textarea {
  height: 200px;
}
.contact .form .btn {
  margin-bottom: 50px;
  color: white;
}
.contact .form .err-msg {
  color: red;
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  display: none;
  font-size: 16px;
}

footer {
  padding: 40px;
  background-color: #1e90ff;
}
footer p {
  color: white;
  text-align: center;
}
footer p a {
  color: white;
}
footer .icons {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
footer .icons a {
  color: white;
  padding: 40px 10px;
}

.payment-animation {
  padding: 100px 0;
  width: 100px;
}

.payment-menthods {
  margin-bottom: 100px;
}
.payment-menthods .grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 50%;
  margin: auto;
}
.payment-menthods .grid a {
  text-decoration: none;
}
.payment-menthods .grid a p {
  margin-bottom: 10px;
  color: black;
}
.payment-menthods .grid a .svg-logo {
  width: 100px;
  height: 100px;
  fill: black;
}

.iframe-div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.iframe-div .iframe {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: none;
}

.main-container {
  display: none;
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: #1e90ff;
}
.loader .animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */